﻿h1 {
    font-family:Arial, Helvetica, sans-serif;
    color:purple;
}
/*:not(#page-list tr td)*/
#create_link {
    font-size:36pt;
    margin-top:20px;
    margin-bottom:20px;
    float:right;
    border:2px solid black;
    padding:10px;
    text-decoration:none;
}

#edit_link, #back_link {
    font-size:18pt;
    text-decoration:none;
}

#pages_links {
    border:2px solid black;
    float:right;
    padding:10px;

}

#back_link_addpage, #back_link_editpage {
    border:2px solid black;
    float:right;
    padding:10px;
    text-decoration:none;
    font-size:36pt;
}

DataGrid {
    background-color:blue;
}

#page_list {
    margin-top:50px;
}

#page_list tr td {
    padding:5px;
}
